/* Overall page background */
.applied-jobs-bg-container {
    padding: 40px;
    min-height: 100vh;
    background-color: #000000;
    color: #ffffff;
}

/* Heading */
.heading {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

/* Applied jobs list */
.applied-jobs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* Card for each applied job */
.applied-job-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 36%;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #202020;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.applied-job-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.company-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 8px;
    margin-right: 16px;
    margin-bottom: 15px;
}

.job-info {
    flex-grow: 1;
    margin-left: 12px;
}

.job-company {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.job-title {
    font-size: 25px;
    font-weight: 800;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 10px;

}

.job-package {
    font-weight: bold;
    margin-right: 12px;
}

.applied-icon {
    margin-left: 15px;
}

.applied-link-text {
    text-decoration: none;
    padding-left: 5px;
}

/* Empty view */
.no-jobs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.no-jobs-img {
    width: 30%;
    margin-bottom: 20px
}

.no-jobs-heading {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.no-jobs-description {
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-top: 8px;
}

/* Loader */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

@media screen and (min-width: 768px) {
    .shop-now-button {
        width: 150px;
        font-size: 16px;
    }
}

.shop-now-button {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    background-color: #4f46e5;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
}

.job-image-container {
    display: flex;
    flex-direction: column;
}