.skills-item-container {
    background-color: transparent;
    margin: 20px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.skill-image {
    width: 100px;
}

.skill-name {
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 500;
    color: #f1f5f9;
}